.bg-cover {
	background-image: url("../Images/metro1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.center-me {
	display: flex;
	justify-content: center;
	padding: 40px;
	background-color: #303030;
	background-image: url("../Images/Gaban.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-signin{
	padding: 20px;
	padding-left: 10px;
	text-align: center;
}

input{
	margin: 10px;
	text-align: center;
	justify-content: center;
}